@import "https://fonts.googleapis.com/css?family=Comfortaa:300,400,700";

/* Card Overrides */
.card {
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--paper-border-color);
  margin: 20px;
  --paper-radius: var(--mantine-radius-md);
}

.cardSection {
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid var(--paper-border-color);
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px;
}

/* Color Overrides */
.code {
  color: #000;
  --code-bg: var(--mantine-color-gray-2);
  margin-top: 10px;
}

.headerGroup {
  justify-content: flex-end;
}

/* Charts */
/* .barChart {
  @mixin light {
    --chart-cursor-fill: alpha(var(--mantine-color-black), 0.05);
    --chart-grid-color: alpha(var(--mantine-color-black), 0.15);
    --chart-text-color: var(--mantine-color-gray-7);
  }

  @mixin dark {
    --chart-cursor-fill: alpha(var(--mantine-color-white), 0.05);
    --chart-grid-color: alpha(var(--mantine-color-white), 0.15);
    --chart-text-color: var(--mantine-color-dark-0);
  }
} */

.chartInnerText {
  /* color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0)); */
  font-size: var(--mantine-font-size-lg)
  /* font-family: "Comfortaa", cursive; */
}

/* Icons */
.icon {
  width: 22px;
  height: 22px;
}

.iconStatic {
  width: 25px;
  height: 25px;
  color: var(--mantine-color-ikarus-blue-8);
}

/* Images */
.img {
  max-width: 600px;
  border-radius: var(--mantine-radius-xs);
}

/* Tables */
.tableHead {
  background-color: var(--mantine-color-ikarus-blue-8);
  color: var(--mantine-color-white);
  font-weight: 700;
}

:where([data-mantine-color-scheme="dark"]) .tableHead {
  color: var(--mantine-color-dark-0);
}

:where([data-mantine-color-scheme="dark"]) .tableRow:where([data-striped="odd"]:nth-of-type(2n+1)):not(.tableHead>.tableRow)  {
  color: var(--mantine-color-black);
}

/* Theme Mixins */
.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    color: black;
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    color: white;
    display: block;
  }
}

/* Viewport Changes */
/* See https://mantine.dev/styles/css-variables-list/ for CSS vars */
@media only screen and (max-width: 48rem) {
  .headerGroup {justify-content: space-between;}
}