@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");

.card {
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--paper-border-color);
  margin: 20px;
  --paper-radius: var(--mantine-radius-md);
}
.cardSection {
  border-bottom: calc(0.0625rem * var(--mantine-scale)) solid;
  padding: 10px;
}

.headerGroup {
  justify-content: flex-end;
}

/* Charts */
.chartInnerText {
  font-size: x-large;
  /* font-family: "Comfortaa", cursive; */
}

.mantine-DonutChart-label {
  font-size: var(--mantine-font-size-lg);
}

.lineChartLegend {
  font-size: var(--mantine-font-size-sm);
  display: flex;
}

.lineChartLegendItem {
  width: 100px;
  flex-direction: row;
  display: flex;
}

.lineChartLegendName {
  margin: 0;
}

/* Icons */
.icon {
  width: 22px;
  height: 22px;
}

.iconStatic {
  width: 25px;
  height: 25px;
  color: var(--mantine-color-ikarus-blue-8);
}

/* Theme Mixins */
.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    color: black;
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    color: white;
    display: block;
  }
}

/* Viewport Changes */
/* See https://mantine.dev/styles/css-variables-list/ for CSS vars*/
@media only screen and (max-width: 48rem) {
  .headerGroup {justify-content: space-between;}
}